@media (max-width:1024px){
    
.space-common {
    margin: 40px auto;
}
.top-banner {
    .banner-block {
    padding: 110px 50px;
}
.top-head{
    font-size:38px;
    line-height: 45px;
}
.top-text{
    font-size:18px;
}
}
.heading-text{
    font-size: 28px;
    line-height: 34px;
}
.quote-wrpr{
    .heading-text{
        font-size: 32px;
        line-height: 42px;
    }
}
.electricity-block{
    .heading-text{
        line-height: 40px;
        font-size:28px;
    }
    .flex-box{padding:$space30+20 0;}
}
}