@media #{$screen-mobile} {
	.gray-bg {
		background: $bg-white;
	}

	.decor-toggle {
		width: auto;
		height: 18px;

		b,
		strong {
			font-weight: normal;
			font-family: $pangrammedium;
			color: $secondary-color;
		}

		&.active {
			padding: 0;
		}
	}

	.decorHeading {
		padding: $space15 $space10 $space10;
		background-size: 150px;
		@include font-size(19px);

		.head-title {
			@include font-size(20px);
			line-height: 25px;
		}

		h2 {
			@include font-size(19px);
		}

		p {
			@include font-size(13px);
			line-height: 18px;
			margin: 2px auto 0;
		}

		.decor-toggle {
			text-align: justify;
			letter-spacing: 0;
		}

		&.top-section {
			margin: 0px auto;
			padding: 15px 5px;
		}
	}

	.offer-banner {
		margin-bottom: 20px;
		display: block;
	}

	.shopSlider {
		margin: 0;
		padding: $space10 $space0 0;

		a {
			width: 45%;
			display: inline-table;
			margin-bottom: 15px;
			margin-right: $space10;
			margin-left: 0;
			@include font-size(12px);

			span {
				font-size: 14px;
				color: #333;
				font-family: $pangramregular;
				margin: 5px auto;
				display: block;
				margin: 5px auto;
			}

			.name {
				@include font-size(13px);
				line-height: 18px;
			}

			&:hover {
				.name {
					color: $primary-color;
				}

				img {
					filter: brightness(1.1);
				}
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.border-bottom {
		border-bottom: 5px solid #f5f5f5;
	}

	.blogsection {
		border-bottom: 10px solid #f5f5f5;
		margin-bottom: $space20;
		margin: 0;

		.blogSlider {
			margin-bottom: 0;

			a {
				margin: 0 $space10 0 0px;
				width: 75%;
				display: inline-table !important;

				&:hover {
					.name {
						color: $primary-color;
					}
				}
			}

			.name {
				@include font-size(13px);
				line-height: 18px;
				text-align: left;
				font-family: $pangramregular;
			}
		}
	}

	.newarrivals {
		padding-bottom: 20px;
		padding-top: $space15;

		.shopSlider,
		.blogSlider {
			display: block;
			white-space: nowrap;
			overflow: auto;
			margin-right: -10px;

			&::-webkit-scrollbar {
				display: none;
			}

			a {
				display: inline-block;
				text-align: left;
			}

			.price {
				.off-price {
					color: $secondary-600;
				}
			}
		}

		.newSize-slide {
			figure {
				&::before {
					padding-top: 88%;
				}
			}
		}

		&.top-selling {
			.name {
				font-family: $pangramregular  !important;
				letter-spacing: 0;
			}

			.price {
				font-size: 12px;
				font-family: $pangramregular;

				.off-price {
					margin: 0 3px 0 0;
					font-family: $pangramregular  !important;
				}
			}
		}

		.discount-off {
			display: inline-block;
			font-size: 12px;
			margin: 0;
			letter-spacing: 0;
		}

		.view-more {
			text-align: center;
			display: block;
			margin: 10px auto 15px;
			width: 100%;
			max-width: 125px;
		}
	}

	.DecorBestsellers {
		padding: $space15 0;
		border-bottom: 10px solid #f5f5f5;

		.decorHeading {
			margin-bottom: 10px;
		}

		.shopSlider {
			white-space: nowrap;
			overflow: auto;
			padding: 0 10px;
		}

		a {
			display: inline-block;

			.price,
			.product-name {
				@include font-size(14px);
			}

			.price {
				font-family: $pangramregular;
				@include font-size(12px);
				color: $secondary-600;
			}

			.product-name {
				margin: 5px auto;
			}
		}
	}

	.decor-section {
		.decorHeading {
			margin-bottom: 0;
		}

		.decor-wrpr {
			display: block;
			white-space: nowrap;
			overflow: auto;
			margin-top: 10px;
			margin-right: -10px;

			&::-webkit-scrollbar {
				display: none;
			}

			.decor-list {
				width: 45%;
				display: inline-block;
				white-space: normal;
				padding: 0;
				margin-right: 10px;
				margin-bottom: $space15;

				&:hover {
					margin-bottom: 0;

					.name {
						color: $primary-color;
					}
				}
			}

			.name {
				@include font-size(13px);
				line-height: 18px;
				padding: 5px;

				span {
					@include font-size(12px);
				}
			}
		}

		.cat_btn.m-menu {
			text-align: center;
			width: 70%;
			display: block;
		}
	}

	.shop-category {
		padding: $space20 $space10 $space15;
		text-align: center;
		border: 0;

		.ws-scroll {
			display: block;
			white-space: nowrap;
			overflow: auto;
			margin-right: -10px;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		.top-category {
			display: block;

			a {
				@include font-size(12px);
				line-height: 17px;
				margin-bottom: 20px;
				color: $secondary-600;
				margin-right: $space10;
				display: inline-table;
				white-space: normal;
				font-family: $pangramregular;
				width: 28%;
				letter-spacing: 0.02em;

				&:hover {
					color: $primary-color;
				}
			}

			figure {
				@extend .figure;

				img {
					height: auto;
					width: auto;
				}
			}
		}
	}

	.brand-section {
		margin: 20px auto 0;

		.shopSlider1 {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			padding-top: $space10;

			a {
				width: auto;
				margin: 0 5px 15px;
				display: inline-grid;
				box-shadow: 0 2px 3px #d7d7d7;

				img {
					border-radius: 3px;
				}
			}
		}

		.brand-img {
			display: block;
			margin: 0 auto 5px;
			height: 50px;
		}

		.shopSlider {
			a {
				width: 33%;
				margin: 0 0 15px;
				padding: 0 5px;
			}
		}

		.name {
			font-size: 14px;
			white-space: normal;
			text-align: center;
			color: #707070;
			font-family: $pangramregular;
		}
	}

	.banner-slider {
		border-top: 10px solid #f5f5f5;
		margin: 0;

		.shopSlider {
			a {
				width: 80%;
				margin-bottom: 0;

				figure {
					&::before {
						padding-top: 150%;
					}

					img {
						width: auto;
						height: auto;
					}
				}
			}
		}
	}

	.cat_btn.m-menu {
		margin: 15px auto;
		padding: 10px 30px;
		font-size: 13px;
		line-height: 20px;
		color: $secondary-700;
		border: 1px solid #8b8b8b;
		border-radius: 4px;
		font-family: $pangramregular;
		display: inline-block;

		svg {
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	.testimonials {
		font-family: $pangramregular;

		p {
			font-family: $pangramregular;
			color: $secondary-600;
		}
	}

	.main-slider {
		a {
			figure {
				@extend .figure;
				margin-bottom: 8px;

				&:before {
					padding-top: 88%;
				}
			}
		}
	}

	.buying-guide {
		margin: 0px auto 25px;

		.decorHeading {
			svg {
				width: 28px;
				height: 28px;
			}
		}

		.guide-block {
			margin: 0 auto $space20;
			width: 100%;
		}

		.flex-banner {
			display: block;
		}

		.guide-link {
			font-size: 14px;
			line-height: 20px;
			padding: 8px 0 0;
		}
	}

	.figure {
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			padding-top: 100%;
			display: block;
		}

		img {
			position: absolute;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}
	}
}