@media #{$screen-desktop}{
    .fuhode-banner{ width:100%;}
.fuhode-real{
    li{width: 49%;}
}
.fuhode-video{
    article{width: 400px;}
}
.fuhodetail-outer-bhk{
    article, .gold{padding: 45px 10px;}
}
}