.refer-a-friend-table{
    h4{ float:left; margin:0!important;;}
    p{ float:right; }
}
.list{ width: 100%;}
.refer-a-friend-table thead th{ font-weight: normal}
.refer-a-friend-table .account_wallet{ font-size: 18px;
                b{ color: #e57200;}
}
.refer-a-friend-table .list thead th { text-align: left;}