//Home Tablet
@media #{$screen-tablet}{
    .banner_top { height: 280px; background-size: cover; }
    .category_main {
        a { padding: $space20 $space0; }
    }
    .process {
        .heading_bottom {
            .title { padding-right: $space30; }
            p { width: 60%; padding-left: $space20; }
        }
        .section_bottom { flex-wrap: wrap;
          .black_btn { width: 38%; }
        }
        ul { width: 100%; margin-left: $space0; }
    }
    .customize {
        article{ width: 55%;
            + article { width: 40%; }
        }
    }
    .slick-next { right: -15px; }
    .slick-prev { left: -15px; }
    .makes_stand {
        article { width: 35%; }
    }
    .restaurant_form {
        img { width: 40%; }
        form { width: 380px; }
        .form-control { width: 250px; }
        .black_btn { width: 250px; }
    }
   
        .thanku-success-msg{ width: 400px; } 
     
}

