.client-banner {
    background: url("../images/testimonials/testimonial-bg.png") no-repeat center center;
    background-size: cover;
    padding: 72px 30px;
    background-color: #f5ba9f1a;
    min-height: 446px;

    .subtag {
        @include font-size(20px);
        line-height: 26px;
        color: $secondary-700;
        font-family: $pangramregular;
        display: inline-block;
        margin: 0 0 5px;
    }

    .client-text {
        color: $secondary-color;
        @include font-size(40px);
        line-height: 50px;
        font-family: $pangrammedium;
        margin: 0 0 35px;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 302px;
    }

    .right-banner {
        figure {
            position: relative;

            img {
                max-width: 530px;
                width: auto;
                height: auto;
            }

            &:before {
                content: '';
                background: url('../images/testimonials/youtube-play.png')no-repeat;
                position: absolute;
                right: 44%;
                top: 42%;
                bottom: 0;
                @include size(40px);
            }
        }
    }
}

.story-video {
    display: none;
}

.custm-review {
    margin: $space15 0 $space30;
    @include font-size(17px);
    line-height: 21px;
    color: $secondary-color;
    font-family: $pangramregular;

    i {
        display: block;
        margin: 0 0 5px;
    }

    img {
        margin-right: 3px;
        width: 22px;
    }
}

.btns-group {
    .review-btn {
        padding: $space10 $space20;
        display: inline-block;
        border: 1px solid $color-orange;
        background: $primary-color;
        color: $color-white;
        @include font-size(18px);
        line-height: 22px;
        @include border-radius(3px);
        transition: 0.3s all ease-in-out;
        font-family: $pangramregular;

        &:hover {
            background: $hover-color;
        }
    }
}

.heading-title {
    @include font-size(26px);
    line-height: 30px;
    font-family: $pangrammedium;
    margin-bottom: $space20+5;
    color: $secondary-color;
    text-align: center;

    p {
        font-family: $pangramregular;
        @include font-size(14px);
        line-height: 20px;
        margin-top: $space10;
        color: $secondary-600;
        letter-spacing: 0.01em;
    }
}

.customers-slider {
    padding: $space30*2 0 $space40;

    .slick-dots {
        margin: 0;
        text-align: center;
        margin-top: $space20;

        li {
            width: auto;
            padding: $space0;
            border: none;

            button {
                &:before {
                    @include border-radius(100%);
                    @include size(14px);
                    background: #afafaf;
                }
            }

            &.slick-active {
                border: none;

                button {
                    &:before {
                        background: $bg-warning;
                    }
                }
            }
        }
    }

    a {
        margin: 0 5px;
    }

    figure {
        position: relative;

        &:after {
            background: url(../images/testimonials/youtube-play.png) no-repeat 0 0;
            content: '';
            @include size(36px);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.video-slider {
    display: none;

    a {
        figure {
            @extend .figure;

            &::before {
                padding-top: 56% !important;
            }

            img {
                height: auto !important;
            }
        }

        &:hover {
            img {
                transform: scale(1.04);
                filter: brightness(1.1);
            }
        }
    }

    .slick-next,
    .slick-prev {
        background: #ffffff6b;
        border: 1px solid #fff;
        @include size(30px);
        border-radius: 100%;

        &::before {
            color: #fff;
            font-size: 14px;
        }
    }

    .slick-next {
        right: 12px;
    }

    .slick-prev {
        left: 12px;
        z-index: 1;
    }
}

#gridmain {
    position: relative;
    margin: 0 auto
}

.lead {
    display: block;
    border-bottom: 1px solid #ddddde;
    text-align: center;
    font-size: 18px;
    padding-bottom: $space15;
}

.product-listnew {
    padding-top: $space40;
    padding-bottom: $space40;

    .grid {
        width: 20%;
        display: inline-block;
        margin: 0 auto;
        vertical-align: top;
    }
}

.product-list-for-filterNew {
    background: $light-gray;

    .not-found {
        background: $bg-white;
        padding: 20px;
        text-align: center;
        font-family: $pangramregular;
        color: $secondary-color;
        font-size: 15px;
        border: $common-border;

        img {
            max-width: 100px;
            width: auto;
            height: auto;
            margin: 0 0 15px;
        }

        .btn {
            background: $primary-color;
            margin-top: $space15;
            padding: $space10 $space20;
            @include border-radius(2px);
        }
    }

}

.pagination {
    text-align: center;
    padding: 10px 0 25px;

    .results {
        display: none;
    }

    .links {

        a,
        b {
            color: $secondary-color;
            font-family: $pangrammedium;
            @include font-size(16px);
            line-height: 20px;
            margin: 0 3px;
            padding: 5px 8px;
            display: inline-block;
            @include border-radius(2px);
        }

        b {
            background: $primary-color;
            color: $color-white;
        }
    }
}

.figure {
    overflow: hidden;
    position: relative;
    background: $light-gray;

    &:before {
        content: '';
        padding-top: 75%;
        display: block;
    }

    img {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        @include border-radius(3px);
        transition: 0.3s all ease-in-out;
    }
}

.grid {
    .productBox {
        max-width: 96%;
        margin: 0 auto;
        margin-bottom: $space15;
        background: $bg-white;
        padding: 12px;
        @include border-radius(4px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

        &:hover {
            img {
                transform: scale(1.04);
                filter: brightness(1.1);
            }
        }

        a {
            display: block;
        }

        figure {
            @extend .figure;

            img {
                border-radius: 0;
                height: 100%;
                transform: scale(1);
                transition: 0.3s all ease-in-out;
            }
        }

    }

    .location {
        font-family: $pangrammedium;
        display: block;
        text-transform: uppercase;
        color: $secondary-color;
    }

    .client-name {
        @include font-size(14px);
        line-height: 18px;
        color: $secondary-color;
        margin: 0 0 6px;
        padding-top: 10px;
        font-family: $pangramregular;
        text-transform: capitalize;
        border-top: 1px solid #a4a3a34d;
    }

    .flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 14px;
    }

    .rating-star {
        i {
            @include size(16px);
            display: inline-block;
            background-size: 16px !important;
            margin-right: 3px;
        }

        .star-off {
            background: url('../images/testimonials/star-gray.svg')no-repeat;
        }

        .star-on {
            background: url('../images/testimonials/star.svg')no-repeat;
        }

        .star-half {
            background: url('../images/testimonials/star-half.svg')no-repeat;
        }
    }

    .date {
        @include font-size(12px);
        line-height: 16px;
        color: $secondary-500;
        font-family: $pangrammedium;
    }

    .detail-text {
        display: block;
        @include font-size(13px);
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-bottom: $space10;
        margin-top: $space15;
        font-family: $pangramregular;
        color: $secondary-600;
        height: 122px;
        overflow: auto;
        padding-right: 5px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background: $secondary-500;
            @include border-radius(15px);
        }

        &::-webkit-scrollbar-track {
            background: $secondary-300;
            @include border-radius(15px);
        }
    }

    .buyer {
        @include font-size(13px);
        line-height: 18px;
        display: block;
        margin: 6px 0 0;
        color: $secondary-600;

        svg {
            margin-right: 5px;
            vertical-align: sub;
            margin-bottom: 1px;
        }
    }
}

.filter-option {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 30px 0;
    grid-column-gap: 15px;

    .field {
        background: $bg-white;
        padding: 6px 10px;
        border: 1px solid #d1d1d1;
        border-radius: 3px;

        label {
            color: $hover-color;
            font-size: 13px;
            font-family: $pangramregular;
            display: block;
            text-transform: capitalize;
        }

        select {
            border: 0;
            display: block;
            padding: 2px 0px 0;
            color: $secondary-color;
            font-family: $pangrammedium;
            @include font-size(15px);
            width: 100%;

        }

    }
}

.clearlist {
    padding: 0 0;

    .filter-block {
        display: inline-block;
        margin-right: 10px;
        border: $common-border;
        background: $bg-white;
        @include border-radius(50px);
        padding: 4px 10px;
        font-size: 13px;
        color: $secondary-color;
        font-family: $pangramregular;
    }

    .clear-filter {
        display: inline-block;

        .btnclear {
            color: $color-white;
            background: $primary-color;
            padding: $space5+1 $space10+4;
            border-radius: 20px;
            font-family: $pangramregular;
            letter-spacing: 0.02em;
            cursor: pointer;
            font-size: 13px;
        }
    }

    .close-filter {
        display: inline-block;
        margin: 0 0 0 3px;

        svg {
            width: 10px;
            height: 10px;
        }
    }
}

#infscr-loading {
    text-align: center;
    margin: 20px auto 0;
}

.select2-container--default .select2-selection--single {
    border: 0 !important;
    background-color: transparent !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 !important;
    font-family: $pangramregular;
}

.select2-container--open .select2-dropdown {
    left: -10px !important;
    top: 8px;
    border: 1px solid #d1d1d1;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0px;
    right: 4px;
    padding: 10px;
    background: #fff;

    b {
        border-width: 0 !important;
        border-left: 2px solid #646464 !important;
        border-bottom: 2px solid #646464 !important;
        width: 10px !important;
        height: 10px !important;
        display: inline-block;
        transform: rotate(-45deg);
        top: 35% !important;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow #infscr-loading {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -25px;
    text-align: center;
}

.filter-btn {
    display: none;
}

@media screen and (max-width:1366px) {
    .right-banner img {
        width: 86%;
    }

    .client-banner {
        .client-text {
            font-size: 42px;
            line-height: 50px;
        }
    }
}

@media screen and (max-width:1280px) {
    .client-banner {
        padding: $space25*2 $space20;

        .client-text {
            @include font-size(40px);
            line-height: 45px;
        }
    }

    .btns-group {
        .review-btn {
            @include font-size(17px);
        }
    }

    .customers-slider {
        padding: $space20*2 0;
    }

    .filter-option {
        padding: $space25 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 14px;
        line-height: 24px !important;
    }

    .select2-container .select2-selection--single {
        height: 22px !important;
    }

    .grid {
        .detail-text {
            margin-bottom: 8px;
            margin-top: 8px;
            letter-spacing: 0.01em;
        }
    }
}

@media screen and (max-width:1024px) {
    .client-banner {
        padding: 45px 20px;

        .subtag {
            font-size: 16px;
            line-height: 20px;
        }

        .client-text {
            @include font-size(32px);
            line-height: 38px;
            margin: 0 0 $space20;
        }

        .right-banner {
            figure {
                img {
                    max-width: 435px;
                }
            }
        }
    }

    .product-listnew {
        .grid {
            width: 33%;
        }
    }
}

@media #{$screen-tablet} {
    .client-banner {
        padding: 35px 10px;

        .subtag {
            font-size: 15px;
            line-height: 20px;
        }

        .client-text {
            @include font-size(26px);
            line-height: 30px;
        }

        .right-banner {
            figure {
                img {
                    max-width: 375px;
                }
            }
        }
    }

    .btns-group {
        .review-btn {
            @include font-size(16px);
            padding: 8px 10px;
        }
    }

    .custm-review {
        img {
            @include size(17px);
        }
    }

    .customers-slider {
        padding: 30px 0;
    }

    .product-listnew {
        .grid {
            width: 50%;
        }
    }

    .heading-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .filter-option {
        padding: 15px 0;
    }
}


@media #{$screen-mobile} {
    .footer-fix {
        display: none !important;
    }

    .client-testimonails {
        margin-top: 0;
        background: $bg-white;

        h1 {
            margin-bottom: $space10;
            padding-bottom: $space0;
            padding-top: $space20;
            @include font-size(20px);
            border: none;
        }

        .contentsel {
            position: inherit !important;
        }

        .grid {
            width: 100% !important;
            position: inherit !important;
            left: inherit !important;

            .productBox {
                max-width: 100%;

            }

            .flexbox {
                padding: $space10 0;
            }
        }
    }

    .breadcrumbs {
        background: $bg-white;
    }

    .mobile-iframe {
        position: relative;
    }

    .client-banner {
        background-position: 15%;
        text-align: center;
        min-height: unset;

        .flexbox {
            min-height: unset;
            display: block;
        }

        .subtag {
            font-size: 14px;
            line-height: 18px;
        }

        .client-text {

            br {
                display: none;
            }
        }

        .custm-review {
            margin: 10px 0 0;
            font-size: 14px;

            img {
                @include size(20px);
                vertical-align: sub;
            }
        }

        .right-banner {
            display: none;
        }
    }

    .btns-group {
        margin: $space20 0 $space10;

        .review-btn {
            margin: 0;
            border: 0;
        }

        a {
            margin-left: 0;
            margin-right: $space10;

            +a {
                margin: 0px;
            }
        }
    }

    .customers-slider {
        padding: 20px 10px;

        .video-slider {
            white-space: nowrap;
            overflow: auto;
            display: block;
            margin-right: -10px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        a {
            width: 68%;
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }

    .product-list-for-filterNew {
        padding-top: $space20;

    }

    .product-listnew {
        padding: $space0 $space15;

        .grid {
            width: 100%;
        }
    }

    .rightfilter {
        .search-block {
            width: auto;
            padding: $space10 $space10;
            background: $bg-white;
            z-index: 1;

            input {
                border: $common-border;
                padding: 10px;
                border-radius: 3px;
                background: #f9f9f9;
                width: 100%;
                font-size: 13px;
                box-shadow: unset;
            }

            .clear-search {
                position: absolute;
                right: 10px;
                top: 11px;
                padding: 9px;

                svg {
                    width: 10px;
                    vertical-align: middle;
                }
            }
        }
    }

    .story-video {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background: $bg-white;
        z-index: 999;
        height: 265px;
        @include transform(translateY(110%));
        @include transition(all 0.4s);
    }

    .grid {
        .productBox {
            max-width: 100%;

            figure {
                &:before {
                    padding-top: 70%;
                }

                img {
                    height: 100%;
                }
            }
        }

    }

    #story-video {
        height: 265px;
    }

    .close-btn {
        position: absolute;
        top: -25px;
        left: 15px;
    }

    #videoFrame {
        @include size(100%);
    }

    .pagination {
        .links {

            a,
            b {
                font-size: 14px;
                font-family: $pangramregular;
                padding: 5px !important;
                margin-bottom: 10px;
                background-color: $bg-white;
            }

            b {
                font-weight: normal;
                color: $color-white !important;
                background-color: $primary-color !important;
                border-radius: 3px;
            }
        }
    }

    .video-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .filter-btn {
        position: fixed;
        bottom: 0%;
        display: block;
        text-align: center;
        background: linear-gradient(45deg, #EE7120, #EA5039);
        color: $color-white;
        font-size: 16px;
        font-family: $pangrammedium;
        right: 0;
        left: 0;
        padding: 15px 10px;
        z-index: 1;
        letter-spacing: 0.02em;

        svg {
            vertical-align: middle;
        }

        .filter-tip {
            @include size(18px);
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #fff;
            font-size: 12px;
            line-height: 17px;
            font-family: $robotomedium;
            vertical-align: super;
            background: $bg-white;
            color: $primary-color;
        }
    }

    .not-found {
        .btn {
            background: $primary-color;
            color: $color-white;
            padding: $space10;
            display: inline-block;
            border-radius: 3px;
            letter-spacing: 0.01em;
            margin: 15px 0 0;

        }
    }



}