@media #{$screen-desktop}{
    //new interior-design
.interior-design{
        .in{
        .slick-prev{left:-26px;}
        .slick-next{right:-26px; } 
    }
    

  .container-1220{ width:960px;}
  .map-section{
        article{padding-top:$space10;} 
        ul{
            li{ padding: $space30*2 $space15; }
        }
    }
   
   .interior-banner-new{
       .heading{@include font-size(50px);}
   }
    //Interior Designer
   
    .design-philosophy{
        article{width: 25%; margin: $zero; padding: $space0 $space5;}
        .col{margin: 15px 1%;}
    }
    .design-services{
        article{width: 295px;}
    }
  
}


}