.category-two {
   .col {
      width: 49%;
      margin-right: 0.8%;

      .cart-hover {
         top: 70%
      }
   }

   figure {
      &:before {
         padding-top: 69%;
      }
   }
}

@media screen and (max-width:1366px) {
   .category-common .category-two .col .cart-hover {
      top: 60%;
   }
}

@media only screen and (max-width: 1099px) {
   .category-common .category-two .col .cart-hover {
      top: 50%;
   }
}

@media only screen and (max-width: 768px) {
   .category-common .category-two .col .cart-hover {
      top: 42%;
   }
}