.location-city{  padding-bottom:$space15; border-bottom:$common-border;
       .heading{@include font-size(28px); font-weight:500; text-align:center; margin-bottom:$space5;}  
       .city-coloum{ color:$color-gray; @include font-size(15px); display:flex; flex-wrap:wrap; justify-content:space-between;  padding:$space10+2 0; border-bottom:$common-border;
        &:last-child{ border-bottom:none;}
       }  
       .state{ width:15%; color:$color-warning; }
       .city-name{width:84%;}     
       a{color:$color-gray;}
}


    @media #{$screen-mobile}{
    .location-city{ background:$bg-white; line-height:normal; padding:$space20 $space0;
       .heading{@include font-size(24px); margin:0;}
     .city-coloum{  display:block; @include font-size(14px); padding:$space10 $space10;}
      .state{ width:100%; }
     .city-name{ width:100%;  padding-top:$space5 - 2;}
    }

} 

