.AddressBook{
 .new-address-outer {
 .newadd-btn {  padding: $space10 - 3 $space40; width: auto; display:inline-block;
    &:before { content: '+'; display: inline-block; margin-right: $space5; @include font-size(18px);  }
  }
  .add-new-address { border: 1px solid $color-orange; }
  }
   .btn-common { display: block; padding: $space10;  width: 100%; text-transform: uppercase; font-family: $robotoregular; cursor: pointer;}
 .address {  color: #707070;border: $common-border; @include border-radius(3px); padding: $space15 $space40+$space30; padding-left: $space40+20px;  margin-top: $space20; position: relative;
     .name { display: block; @include font-size(15px); }
     small { @include font-size(11px); background: $bg-orange; color: $color-white; @include border-radius(3px); padding: $space0+2px $space10; }
     .select-address { cursor: pointer; @include size(25px); background: url(../images/my-account-new/address-check.svg) no-repeat; position: absolute; left: 20px; top: 0; bottom: 0; margin: auto;
        &.active  { background: url(../images/my-account-new/address-checked.svg) no-repeat;  }
        &:hover { background: url(../images/my-account-new/address-checked.svg) no-repeat;  }
     }
 }
 .default { background: #fbe9d8; border: none; }
 .BillingAddress { position: relative;
   .half { width: 45%; display: inline-block; margin-right: $space20; }
   .title { border-bottom: $common-border; padding-bottom: $space5; margin-bottom: $space5; }
 }
  .editnow { position: absolute; right: 20px; top: 0; bottom:0; margin:auto; height: 15px;
    a { display: inline-block; @include size(15px); margin-left: $space10;
         img { width: 15px; }
    }
    .Delete { img{ width: 14px; } }
  }
  .success { margin-bottom: $space10; }
}


//AddressPopup
.AddressPopup { padding: $space20; background: $bg-white; width: 690px; display: none; position:relative;
    .half { width: 48%; display:inline-block; vertical-align: top; 
      &.billing { margin-left: 2%; }
    }
    .title-top { @include font-size(20px); border-bottom: $common-border; padding-bottom: $space10; margin-bottom: $space15;  }
     p { font-family: $robotolight; @include font-size(15px); }
    .AddressClose { position: absolute; right: 15px;  top: 5px;  cursor: pointer; }
}

@media #{$screen-tablet}{ 
    .AddressBook {
        .address { padding: 15px 70px; }
        .BillingAddress {
            .half { width: 100%; margin: $space0;
             &:first-child { margin-bottom: $space15; }
            }
        }
    }

}

