#backtop{
    width: 64px;
    height: 64px;
    z-index:99;
    background:$bg-white;
    border:1px solid $secondary-400;
    position:fixed;
    transform: translatey(115px);
    bottom: -115px;
    right:25px;
    text-align:center; 
    cursor:pointer;
    @include transition(all 0.8s);
    .backtotop-text{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 10px;
        @include font-size(10px);
        text-transform: uppercase;
        color: $secondary-600;
        line-height: 12px;
        }
    .backtotop-icon{margin:$space10+4 0 0;}
  &.show { bottom: 150px; transform: translatey(0);}  
  &.hide { display: inherit; }
}
 .hide{ display:none;}
 .show{ display:block;}     
 

.btn{padding:$space5 $space15; @include font-size(15px); color:$color-white; display:inline-block; @include transition(all 0.5s ease);}
.btn-warning{ background:$bg-warning;
    &:hover{ background:#bc5e00;}
} 