//breadcrumbs
.breadcrumbs{
    background:$bg-white;
    padding:$space10 0;
        a{
            color:$secondary-500;
            font-size:12px;
        }
        li{ 
                font-size: $font-size-10+2;
                display: inline-block;
                text-transform:capitalize;
                    &:after{
                        content:"\f105"; 
                        margin: 0 7px 0px 4px; 
                        color: $secondary-600; 
                        font-family:$font-family-awesome; 
                    }
                    @include last(1){
                        &:after{@extend .hide;}
                    }
                    &.active{ a{color:$secondary-400;}}
            }
        .container { max-width: 1200px;margin:0 auto; }
}
