
#content .content { padding: 10px; border: 1px solid #eee; text-align: left; background:$bg-white;}
.content{margin:30px 0 0}
.content h1,.content h2{margin:25px 0;font-family:robotomedium;color:#464545;text-transform:uppercase;text-align:center}
.content h1{font-size:30px;font-weight:300}
.content h2{font-size:35px;font-weight:400}
.content ol li,.content p{line-height:25px}
.content p{font-size:14px;color:#000;font-weight:300;margin:10px 0}
.content h3,.content h4{margin:15px 0;font-weight:400}
.content h3{font-size:18px;color:#bb5d1d}
.content h4{font-size:15px;color:#000;text-transform:uppercase}
.content ol{margin:0 0 0 20px; padding: 0;}
.content ol li{font-size:14px;color:#000;font-weight:300;margin:10px 0}
.content ul{margin:20px 0 0 30px;list-style:disc;}
.content ul li{font-size:14px;color:#000;line-height:25px}

@media #{$screen-mobile}{
  .content{ margin:0;}
    .content h1{ margin:$space10 0; font-size:25px;} 
  .container.static{ padding:0;}
} 