

.noscroll {
  overflow: hidden;
  margin-right: 0 !important;
}  
img{width: auto;height: auto;}

.kitchen-banner {
  background: url('../images/modular-kitchen/kitchen-banner.jpg') no-repeat bottom;
  background-size: cover;
  padding: 360px 0 30px;
  text-align: center;
  position: relative;

  .heading {
    color: $light-gray;
    @include font-size(34px);
    line-height: 45px;
    font-family: $pangramlight;
    margin: 0 0 15px;

    span {
      display: block;
      @include font-size(18px);
      line-height: 22px;
      font-family: $pangramregular;
    }

    h1 {
      margin: 0 !important;
      display: inline-block;
    }
  }
}

.consultation-btn {
  color: $color-white;
  background: $primary-color;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 4px;
  display: inline-block;
  transition: 0.3s all ease-in-out;
  font-family: $pangramregular;
  letter-spacing: 0.02em;

  &:hover {
    background: $hover-color;
  }
}

.common-space {
  padding: $space30+$space20 0;
}

.title {
  h2 {
    margin: 0 !important;
    display: inline-block;
  }

  @include font-size(27px);
  line-height: 34px;
  color: $secondary-color;
  text-align: center;
  font-family: $pangrammedium;
  margin-bottom: $space20*2;
}

.font-14 {
  @include font-size(14px);
  line-height: 18px;
  color: $secondary-600;
  font-family: $pangramregular;
}

.bg-gray {
  background: $light-gray;
}

.bg-white {
  background: $bg-white;
}

.list-type {
  display: flex;
  justify-content: space-between;

  .list-box {
    display: inline-block;
    text-align: center;

    &:hover,
    &.active {
      .font-14 {
        border-color: $primary-color;
        transition: 0.3s all ease;
        color: $primary-color;
      }
    }

    img {
      padding-bottom: 10px;
    }

    .font-14 {
      border-bottom: 3px solid transparent;
      padding-bottom: 20px;
      color: $secondary-color;
      font-size: 15px;
      font-family: $pangrammedium;
      letter-spacing: 0.02em;
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.active.overlay {
  background: #000;
  opacity: 0.5;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.modular-kitchen-style {
  .more-content {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 12px;
    height: 52px;
    overflow: hidden;
    position: relative;
    line-height: 20px;

    &.more {
      height: auto;

      .morebtn {
        right: unset;

        &::before {
          content: 'Less';
        }
      }
    }

    .morebtn {
      position: absolute;
      background: #fff;
      padding: 0 5px;
      color: $primary-color;
      bottom: 0px;
      right: 0;
      cursor: pointer;

      &::before {
        content: "Read More";
      }
    }
  }

  .bg-white {
    padding-bottom: 0;
  }

  .filter-by-style {
    .grid {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
    }

    .grid-item {
      margin: 0 5px 15px;
      display: inline-block;
      width: 32%;
    }

    .single-item1 {
      display: block;
      position: relative;
      background: $bg-white;
      padding: 5px 5px 15px 5px;
      box-shadow: 0 2px 3px #ebe9e9;

      figure {
        @extend .figure;
        margin-bottom: 0 !important;

        &::before {
          padding-top: 60% !important;
        }
      }

      &:hover {
        .quick-view {
          opacity: 1;
          bottom: 35%;
        }
      }
    }

    .name {
      padding: 8px 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
      @include font-size(15px);

    }

    .price {
      @include font-size(15px);
      text-align: left;
      color: $secondary-color;
      font-family: $pangrammedium;
    }
  }
}

.quick-view {
  border: 1px solid $primary-color;
  padding: 6px 12px;
  font-size: 14px;
  font-family: $pangramregular;
  letter-spacing: 0.02em;
  color: $color-white;
  transition: 0.3s all ease-in-out;
  max-width: 160px;
  margin: 0 auto;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
  opacity: 0;
  right: 0;
  left: 0;
  background: $primary-color;
}

.load-more {
  display: block;
  text-align: center;
  margin: 20px auto;

  &:hover {
    .load-btn {
      background: $secondary-color;
    }
  }

  .load-btn {
    margin: 0 !important;
    background: #464646;
    color: #fff;
    padding: 11px 25px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.3s all ease;
    font-family: $pangramregular;
    letter-spacing: 0.02em;
    display: inline-block;
  }
}

.load-btn,
.consultation-btn {
  &.loadr {
    position: relative;

    &:after {
      content: '';
      display: inline-block;
      border: 3px solid $light-gray;
      border-top: 3px solid $primary-color;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      vertical-align: bottom;
      margin-left: 6px;
      animation: spin 2s linear infinite;
      vertical-align: sub;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.why-choose-box,
.material-wrpr,
.finish-wrpr,
.store-wrpr,
.testimonial-wrpr,
.faq-wrpr {
  .title {
    @include font-size(30px);
    line-height: 38px;
    font-family: $pangramregular;
  }
}

.why-choose-box {
  border-bottom: $common-border;
  padding-bottom: 0px;

  .list-type {
    max-width: 800px;
    margin: 0 auto;

    li {
      color: $secondary-700;
      font-family: $pangramregular;
      text-align: center;

      img {
        margin: 0 auto 15px;
        display: block;
        height: 55px;
      }
    }
  }

  .iframe-box {
    text-align: center;

    .iframe-container {
      position: relative;
      display: block;
      padding-top: 28%;
      overflow: hidden;
      margin: 0 auto 35px;

      iframe {
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0 auto;
        width: 50%;
        height: 100%;
      }
    }
  }
}

.material-wrpr {
  .material-list {
    text-align: center;
  }

  .material-box {
    background: #fff;
    width: 30%;
    padding: 7px 7px 13px;
    margin: 0 auto;
    display: inline-table;
    text-align: left;
    margin-right: 25px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10);
    min-height: 380px;

    &:last-child {
      margin-right: 0;
    }

    figure {
      @extend .figure;

      &::before {
        padding-top: 72% !important;
      }
    }

    &:hover {
      img {
        transform: scale(1.04);
      }
    }

    p {
      font-family: $pangrammedium;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.02em;
      margin-bottom: 5px;
    }

    span {
      font-family: $pangramregular;
      color: $secondary-600;
      font-size: 14px;
      line-height: 20px;
    }
  }


}

.finish-wrpr {
  &.counter-backsplash-design {
    .finish-slider {
      .slick-track {
        margin: 0 auto;
      }

      .finish-box {
        min-height: 314px;

        figure {
          &::before {
            padding-top: 75% !important;
          }
        }
      }
    }
  }

  &.handles-block {
    .finish-slider {
      .finish-box {
        background: $bg-white;

        figure {
          &::before {
            padding-top: 74% !important;
          }
        }
      }
    }
  }

  figure {
    @extend .figure;

    &::before {
      padding-top: 80% !important;
    }
  }

  .finish-slider {
    .finish-box {
      border: $common-border;
      padding: 6px;
      border-radius: 2px;
      margin: 0 10px;
      min-height: 300px;

      &:hover {
        transition: 0.3s all ease;

        img {
          transform: scale(1.04);
        }
      }
    }

    p {
      font-family: $pangrammedium;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.01em;
      margin-bottom: 5px;
      color: $secondary-color;
    }

    span {
      font-family: $pangramregular;
      color: $secondary-600;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.component-wrpr {
  .list-type {
    .comp-box {
      display: inline-block;
      margin: 0 15px;
      padding: 8px;
      background: $bg-white;
      @include border-radius(4px);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);

      figure {
        max-height: 276px;
        @extend .figure;

        img {
          width: 100%;
        }

        &:before {
          padding-top: 86% !important;
        }
      }

      &:hover {
        img {
          transform: scale(1.04);
        }
      }

      p {
        font-family: $pangrammedium;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 00.01em;
        margin-bottom: 5px;
        color: $secondary-color;
      }

      span {
        font-family: $pangramregular;
        color: $secondary-600;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  .block-center {
    text-align: center;
    margin: 40px auto 0;

    p {
      color: $secondary-600;
      font-size: 15px;
      padding-bottom: 10px;
    }
  }
}

.store-wrpr {
  text-align: center;

  .stores-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 30px 0;
    align-items: flex-end;

    .store-box {
      position: relative;
      display: inherit;

      &:hover {

        .text-overflow,
        .store-text {
          opacity: 1;
        }
      }
    }


    .text-overflow {
      color: #fff;
      background: linear-gradient(0deg, #2a2a2a, #fff0);
      position: absolute;
      left: 0;
      bottom: 0;
      height: 45%;
      right: 0;
      opacity: 0;
      transition: all .4s ease-in-out 0s;
    }

    .store-text {
      position: absolute;
      text-align: center;
      padding: 0 10px;
      width: 100%;
      bottom: 5px;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: all .3s ease-in-out 0s;
      color: #fff;
      font-size: 15px;
      text-transform: capitalize;
      letter-spacing: 0.02em;
      font-family: $pangramregular;
    }
  }
}

.talk-designer-popup {
  position: relative;

  .close-popup {
    text-align: right;
    cursor: pointer;

  }

  .inner-wrpr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #fff;

    .talk-designer-form {
      padding: 25px;

      .field {
        margin-bottom: 15px;

        .field__input {
          border-color: #dedede;
          height: 50px;
        }
      }

      .consultation-btn {
        font-size: 17px;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
    }

    .left {
      width: 380px;

      img {
        display: block;
      }
    }
  }
}

.full-view-kitchen {
  position: relative;
  max-width: 90%;
  margin: 0 auto;

  .close-popup {
    text-align: right;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: -23px;
  }

  .product-detail {
    background: $bg-white;
    padding: 10px 12px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .detail-section {
    margin-left: $space20;
    margin-right: $space10;
    margin-top: $space10;
    text-align: left;
    font-family: $pangramregular;

    .title {
      @include font-size(20px);
      line-height: 22px;
      font-family: $pangramregular;
      text-align: left;
      margin: 0 0 10px;
    }

    .price {
      @include font-size(23px);
      line-height: 25px;
      color: $primary-color;
      font-family: $pangrammedium;
      padding-bottom: 15px;
      border-bottom: $common-border;

      .offprice {
        font-size: 17px;
        color: #333;
        font-family: $pangramregular;
      }
    }

    .description {
      margin: 20px auto;

      li {
        display: flex;
        font-family: $pangrammedium;
        color: $secondary-color;
        padding: 0 0 $space10;

        p {
          flex-shrink: 0;
          width: 140px;
        }

        span {
          font-family: $pangramregular;
          color: $secondary-700;
          position: relative;
          padding-left: $space10;

          &::before {
            content: ':';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    .consultation-btn {
      font-size: 16px;
      display: block;
      text-align: center;
    }

    small {
      font-size: 13px;
      color: $secondary-500;
      display: block;
      text-align: center;
      margin: 15px auto 0;
      font-family: $robotoregular;
    }
  }
}

.thanku-success-msg {
  span {
    display: block;
    font-size: 1.5rem;
    font-family: $robotoregular;
    padding-top: 10px;
  }

  p {
    font-size: .875rem;
    color: $secondary-color;
    padding: 14px 0;
  }

  a {
    color: $bg-white;
    text-transform: uppercase;
    background: $primary-color;
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 3px;
    display: inline-block;
  }
}

.blogsection {
  border-top: 2px solid #f5f5f5;

  .Blogslider {
    a {
      display: inline-block;
      margin: 0 8px;

      &:hover {
        p {
          color: $primary-color;
          transition: 0.3s all ease-in-out;
        }
      }
    }

    p {
      font-size: 15px;
      line-height: 20px;
      margin-top: 6px;
      color: $secondary-color;
      font-family: $pangrammedium;
    }
  }
}

.kitchen-brands {
  margin: $space40 auto $space20;

  ul {
    display: flex;
    justify-content: center;

    li {
      display: inline-block;
      width: 27%;

      img {
        height: 100px;
      }
    }
  }
}

.how-it-works {
  border-top: 2px solid #f5f5f5;

  .list-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;

    &:before,
    &:after {
      content: '';
      background: url('../images/modular-kitchen/bg-dots.png')no-repeat;
      display: block;
      @include size(120px, 120px);
      position: absolute;
    }

    &:before {
      left: 0px;
      bottom: 50px;
    }

    &:after {
      right: -35px;
      top: -40px;
      z-index: -1;
    }

    li {
      &:nth-last-child(1) {
        .detail-box {
          &::after {
            display: none;
          }
        }
      }
    }

    figure {
      @extend .figure;

      &::before {
        padding-top: 62% !important;
      }
    }
  }

  .detail-box {
    background: $bg-white;
    padding: 15px;
    box-shadow: 0 3px 6px #ddd;
    border-radius: 4px;
    position: relative;
    margin: -45px auto 0;
    max-width: 310px;
    min-height: 175px;
    position: relative;

    &:after {
      content: '';
      background: url('../images/modular-kitchen/arrow.png')no-repeat;
      display: block;
      @include size(82px, 21px);
      position: absolute;
      right: -42px;
      top: 65px;
    }

    .head-title {
      text-align: center;
      @include font-size(21px);
      line-height: 28px;
      margin-bottom: $space20;
      color: $secondary-color;
      font-family: $pangrammedium;
      min-height: 60px;
      position: relative;

      &:after {
        content: '';
        display: block;
        border-bottom: $common-border;
        position: absolute;
        width: 100px;
        left: 0;
        right: 0;
        bottom: -8px;
        margin: 0 auto;
      }
    }
  }

  .count {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: $pangrammedium;
    color: $secondary-color;
    border-radius: 50%;
    @include size(48px, 48px);
    padding: 5px;
    margin: -40px auto -10px;
    background: $bg-white;
  }

  .call-us {
    color: $secondary-color;
    font-family: $pangrammedium;
    @include font-size(17px);
    display: inline-block;
    padding-left: 38px;
    position: relative;
    margin-left: 15px;

    &:before {
      content: '';
      background: url(../images/modular-kitchen/call.svg) no-repeat;
      background-size: 40px;
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 45px
    }

    span {
      display: block;
      font-size: 13px;
      line-height: 15px;
      text-align: left;
      color: #515151 !important;
      font-family: $pangramregular;
    }
  }

  .contact-block {
    text-align: center;
    margin: 0 auto;
    padding-top: $space30*2;

    .consultation-btn {
      border-radius: 50px;
      text-transform: capitalize;
      font-size: 18px;
      margin-right: 20px;
    }
  }
}

.fix-btn {
  display: none;
}

//responsive media scss

@media screen and (max-width:1280px) {
  .kitchen-banner {
    padding: 280px 0 40px;
  }

  .common-space {
    padding: 40px 0;
  }

  .consultation-btn {
    font-size: 18px;
    line-height: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .faq-wrpr,
  .finish-wrpr,
  .material-wrpr,
  .store-wrpr,
  .testimonial-wrpr,
  .why-choose-box {
    .title {
      font-size: 24px;
      line-height: 32px;
    }
  }

  .why-choose-box {
    .list-type {
      max-width: 730px;
    }

    .iframe-box {
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width:1024px) {
  .kitchen-banner {
    .heading {
      @include font-size(28px);
      line-height: 34px;
    }
  }

  .consultation-btn {
    @include font-size(16px);
    line-height: 20px;
    padding: 10px 20px;
  }

  .common-space {
    padding: 30px 0;
  }

  .load-more {
    margin: 20px auto 0;
  }

  .modular-kitchen-style {
    .list-type {
      a {
        margin: 0 10px;
      }
    }
  }

  .material-wrpr {
    .material-box {
      min-height: 340px;
      margin-right: 15px;
    }
  }

  .finish-wrpr {
    &.counter-backsplash-design {
      .finish-slider {
        .finish-box {
          min-height: 290px;
        }
      }
    }

    .finish-slider {
      .finish-box {
        min-height: 280px;
      }
    }
  }

  .component-wrpr .list-type .comp-box figure {
    height: 200px;
  }

  .how-it-works {
    .list-type {
      &::after {
        right: -20px;
      }

      li {
        margin: 0 6px;
      }
    }

    .detail-box {
      max-width: 285px;
      min-height: 165px;

      &::after {
        right: -20px;
        top: 40px;
      }

      .head-title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        min-height: 50px;
      }
    }

    .count {
      font-size: 17px;
      width: 45px;
      height: 45px;
      padding: 5px;
      margin: -38px auto -10px;
    }

    .contact-block {
      padding-top: 30px;
    }
  }

  .talk-designer-popup {
    .inner-wrpr {
      width: 100%;

      .talk-designer-form {

        .title {
          font-size: 22px;
          line-height: 28px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .full-view-kitchen {
    max-width: 96%;

    .detail-section {
      .title {
        font-size: 17px;
        line-height: 20px;
      }

      .price {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 10px;
      }

      .description {
        margin: 12px auto;
      }
    }
  }

  .store-wrpr {
    figure {
      max-width: 680px;
      margin: 0 auto;
    }
  }

  .why-choose-box,
  .material-wrpr,
  .finish-wrpr,
  .store-wrpr,
  .testimonial-wrpr,
  .faq-wrpr {
    .title {
      @include font-size(22px);
    }
  }
}

@media screen and (max-width:768px) {
  .kitchen-banner {
    padding: 175px 0 30px;
  }

  .modular-kitchen-style {
    .more-content {
      max-width: 580px;
    }

    .filter-by-style {
      .grid-item {
        width: 48%;
      }

      .name {
        font-size: 14px;
        padding: 5px 0 0;
      }
    }
  }

  .why-choose-box {
    .list-type {
      max-width: 600px;

      li {
        img {
          height: 45px;
        }
      }
    }

    .iframe-box {
      .iframe-container {
        padding-top: 38%;

        iframe {
          width: 68%;
        }
      }
    }

  }

  .kitchen-brands {
    margin: 30px auto 10px;

    ul {
      li {
        img {
          height: auto;
        }
      }
    }
  }

  .list-type .list-box .font-14 {
    font-size: 14px;
    padding-bottom: 10px;
  }

  .how-it-works {
    .list-type {

      &:after,
      &:before {
        display: none;
      }
    }

    .contact-block {
      .consultation-btn {
        font-size: 16px;
      }
    }

    .detail-box {
      max-width: 220px;
      margin: -25px auto 0;
      padding: 10px;
      min-height: 150px;

      .head-title {
        font-size: 15px;
        line-height: 20px;
        min-height: 40px;
      }

      .font-14 {
        font-size: 13px;
      }
    }

    .count {
      font-size: 16px;
      margin: -30px auto -12px;
    }
  }

  .title {
    font-size: 22px;
    line-height: 26px;
  }

  .why-choose-box {
    .iframe-box {
      padding-bottom: 0;
    }
  }

  .finish-wrpr {

    &.handles-block {
      .finish-slider {
        .finish-box {
          min-height: 270px;
        }
      }
    }
  }

  .slick-dots {
    text-align: center;

    li {

      &.slick-active {
        button {
          &::before {
            background: $primary-color;
          }
        }
      }

      button {
        &:before {
          background: $secondary-500;
          border-radius: 100%;
        }
      }
    }
  }

  .material-wrpr {
    .material-box {
      min-height: 310px;
    }
  }

  .component-wrpr {
    .list-type {
      .comp-box {
        margin: 0 5px;

        figure {
          height: 165px;
        }

        p {
          font-size: 15px;
          margin-bottom: 3px;
        }

        span {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    .block-center {
      margin: 30px auto 0;
    }
  }

  .store-wrpr {
    figure {
      max-width: 500px;
    }
  }

  .full-view-kitchen {
    max-width: 78%;

    .product-detail {
      display: block;
      padding: 10px 10px 20px;
    }

    .detail-section {
      margin-left: 0px;
      margin-right: 0px;

      small {
        margin: 5px auto 0;
      }
    }
  }

  .talk-designer-popup {
    .inner-wrpr {
      width: 90%;

      .left {
        width: 320px;
      }

      .talk-designer-form {
        padding: 15px;

        .title {
          font-size: 20px;
          line-height: 24px;
        }

        .field {
          .field__input {
            height: 40px;
          }
        }

        .consultation-btn {
          font-size: 15px;
        }
      }
    }

    .close-popup {
      display: inline-block;
      position: absolute;
      right: 8px;
      top: 0;
    }
  }
}

@media screen and (max-width:767px) {

  b,
  strong {
    font-family: $pangrammedium;
    font-weight: normal;
  }

  .kitchen-banner {
    padding: 170px 10px 20px;
    background: url('../images/modular-kitchen/kitchen-mb.jpg') no-repeat;
    background-size: cover;

    .heading {
      @include font-size(21px);
      line-height: 26px;
      font-family: $pangramregular;

      span {
        @include font-size(16px);
      }
    }
  }

  .font-14 {
    font-size: 13px !important;
  }

  .container-1200 {
    padding: 0 10px;
  }

  .consultation-btn {
    font-size: 14px;
  }

  .talk-designer-popup {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;

    .close-popup {
      right: 0;
      padding: 8px;

      svg {
        path {
          fill: $secondary-color;
        }
      }
    }

    .left {
      display: none;
    }

    .inner-wrpr {
      display: block;
      width: auto;
      padding: 0;
    }
  }

  .modular-kitchen-style {
    .more-content {
      padding: 0 15px;
      height: 40px;

      .morebtn {
        right: 10px;
      }
    }

    .filter-by-style {
      .grid-item {

        width: 100%;

        .price {
          margin: 5px auto 0;
          color: $secondary-color;
          font-family: $pangrammedium;
          @include font-size(15px);
        }
      }

    }

    .list-type {
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .common-space {
      padding-top: 25px;
    }
  }

  .flex {
    display: block;
  }

  .list-type {
    display: block;
    overflow: auto;
    white-space: nowrap;

    .list-box {
      margin-right: 12px;

      .font-14 {
        font-family: $pangramregular;
      }

      img {
        max-width: 95px;
      }
    }
  }

  .title {
    @include font-size(18px);
    margin-bottom: 20px;

    h2 {
      padding: 0 !important;
    }
  }

  .load-more {
    margin: 0 auto 20px;
  }

  .why-choose-box {
    background: $bg-white;
    padding: 30px 10px;

    .list-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 0 7px 15px;
        font-size: 13px;
      }
    }

    .iframe-box {
      padding-top: 10px;

      .iframe-container {
        padding-top: 56%;
        margin: 0 auto 20px;

        iframe {
          width: 100%;
        }
      }
    }
  }

  .why-choose-box,
  .material-wrpr,
  .finish-wrpr,
  .store-wrpr,
  .testimonial-wrpr,
  .faq-wrpr {
    .title {
      @include font-size(18px);
      line-height: 22px;
      font-family: $pangrammedium;
    }
  }

  .finish-wrpr.counter-backsplash-design .finish-slider .finish-box {
    min-height: auto;
  }

  .material-wrpr {
    .material-list {
      display: block;
      white-space: nowrap;
      overflow: auto;
      margin-right: -10px;

      &::-webkit-scrollbar {
        display: none;
      }

      .material-box {
        white-space: normal;
        flex: unset;
        width: 74%;
        margin-bottom: 10px;

        p {
          font-size: 14px !important;
          line-height: 18px;
        }

        span {
          font-size: 13px;
          line-height: 18px;
        }
      }
    }

    figure {
      margin-bottom: 10px !important;
    }
  }

  .finish-wrpr {
    background: $bg-white;
    border-bottom: 10px solid $light-gray;

    &:last-child {
      border-bottom: 0;
    }

    &.handles-block {
      .finish-slider {
        .finish-box {
          min-height: 215px;
        }
      }
    }

    .finish-slider {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .finish-box {
        display: inline-block;
        width: 47%;
        min-height: auto;
        margin: 0 5px 10px;
        padding: 4px;
      }

      p {
        font-size: 14px;
        line-height: 18px;
      }

      span {
        font-size: 13px;
        line-height: 18px;
      }
    }

    figure {
      margin-bottom: 10px;
    }
  }

  .component-wrpr {
    background: $light-gray;
    border-bottom: 0;

    .list-type {
      margin-right: -10px;

      .comp-box {
        white-space: normal;
        margin: 0 15px 15px 0px;
        width: 65%;
      }
    }

    .block-center {
      margin: 20px auto 0;
    }
  }

  .store-wrpr {
    background: $bg-white;
    padding: $space30 $space10;

    .stores-list {
      padding: 0;
      margin: 10px 0;
      margin-right: -10px;
      display: block;
      overflow: auto;
      white-space: nowrap;

      .store-box {
        width: 50%;
        display: inline-block;
        margin-right: 10px;
        white-space: normal;
      }

      .text-overflow {
        opacity: 1;
      }

      .store-text {
        font-size: 14px;
        opacity: 1;
      }
    }
  }

  .TextCommon {
    padding: 30px 10px;
  }

  .full-view-kitchen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    max-width: 100%;
    overflow: auto;
    z-index: 99;
    height: 100vh;

    .close-popup {
      top: 2px;
      padding: 5px;

      svg {
        path {
          fill: #333;
        }
      }
    }

    .product-detail {
      padding-top: 40px;
    }
  }

  .thanku-success-msg {
    background: #fff;
    position: relative;
    width: 85%;
    margin: 0 auto;

    .swpmodal-close {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 1.5rem;
      cursor: pointer;
      padding: 0;
      background: none;
      color: #000;
    }

  }

  .blogsection {
    background: $bg-white;

    .Blogslider {
      display: block;
      white-space: nowrap;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      p {
        font-size: 14px;
      }

      a {
        margin: 0;
      }

      .single-block {
        display: inline-block;
        margin-right: 10px;
        white-space: normal;
        width: 82%;
      }
    }
  }

  .how-it-works {
    padding: 30px 10px;
    background: $bg-white;

    .list-type {
      display: block;
      margin-right: -10px;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        margin: 0 10px 10px 0px;
        display: inline-block;
        vertical-align: top;
        width: 70%;
      }
    }

    .detail-box {
      white-space: normal;
      max-width: 240px;

      &:after {
        right: -32px;
        top: 32px;
        z-index: 1;
      }
    }

    .call-us {
      padding-left: 31px;
      font-size: 14px;
      vertical-align: middle;
      margin-left: 5px;

      &:before {
        background-size: 32px;
        width: 30px;
        height: 32px;
      }
    }

    .contact-block {
      .consultation-btn {
        padding: 8px 12px;
        font-size: 15px;
        margin-right: 10px;
      }
    }
  }

  .kitchen-brands {
    background: $bg-white;
    margin: 0;
    padding: $space20 $space10;

    ul {
      flex-wrap: wrap;

      li {
        width: 32%;

      }
    }
  }

  .footer-fix {
    display: none !important;
  }

  .fix-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: block;
    transform: translateY(55px);

    .consultation-btn {
      width: 100%;
      border-radius: 0;
      padding: 14px 10px;
      font-family: $pangrammedium;
      font-size: 17px;
    }
  }

  .header-blank {
    height: 0px !important;
  }
  footer{
   .bottom-link{
    margin-bottom: 50px;
   }
  }
}

@media only screen and (max-width : 320px) {
  .kitchen-banner {
    .heading {
      font-size: 18px;
    }
  }


  .consultation-btn {
    padding: 8px 12px;
  }

  .modular-kitchen-style {
    .talk-designer-form {
      .title {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }

  .finish-wrpr {
    .finish-slider {
      .finish-box {
        width: 46%;
      }
    }
  }

  .faq-wrpr,
  .finish-wrpr,
  .material-wrpr,
  .store-wrpr,
  .testimonial-wrpr,
  .why-choose-box {
    .title {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .footer-fix {
    display: none;
  }

}