// Contact Us
   .banner-get-touch { background: #F5F5F5; padding: $space30 0 0; text-align: center;
        .title { @include font-size(35px); font-family: $robotolight; font-weight: 300; }
        article { display:inline-block; margin: $space25 $space0 0; padding: $space10 $space40; position:relative; z-index: 1; @include border-radius(5px 5px 0 0);
          span { display: block; @include font-size(20px); font-family: $robotomedium; }
          a { color: #363636; }
        }
        .store { background: $bg-white; }
        .container { position: relative; }
        figure { position: absolute; right:0; bottom: 0;
           img { width: 200px; vertical-align: bottom; }  
        }
    }
.get-in-touch{ color: #363636; margin-top:$space30+10;
     .top-title { @include font-size(20px);  }
  .tabs{ display:flex; justify-content:space-between; margin-top:$space20; margin-bottom:$space40;} 
    
  .tab-links{ width:30%; height: 650px;  overflow: hidden;
          li{ display:block; margin-bottom:$space20; border: $common-border; padding: $space15; @include border-radius(3px); position: relative;
            span { @include font-size(18px); }  
            .cont, .time { 
              &:before { @include size(15px, 18px); margin-right: $space5; content: ''; display: inline-block; background: url(../svg/common-icon/call.svg) no-repeat; vertical-align: middle; }
            }
            .cont { margin: $space5 0; }
            .time {  &:before {background: url(../images/time.svg) no-repeat;} } 
            &.active{ background: #F7F7F7; }
            a { color: #363636;  }
            .link { padding-bottom: $space40*2; display:block; }
            article { position: absolute; bottom: $space15;  }
         } 

    }
   .btn-border { display: block; border: 1px solid $color-orange; color: $color-orange; text-align: center; width: 125px; padding: $space5 - 1; margin-top: $space10; }
    .tab-content{ width:68%; @include border-radius(5px); overflow: hidden; border: $common-border; }
    
    
    .howtitle { @include font-size(15px); margin-bottom: $space10;  }
    .helpe-option{ display:flex; justify-content:space-between; text-align:center; margin-bottom:$space40+20;
        a { border:$common-border; @include border-radius(2px); @include font-size(13px); padding:$space20; width:24%;  color:$color-black; font-family:$robotolight;  @include all-contact-icons-sprites;}
        span{@include font-size(16px);  display:block; font-family:$robotoregular;}
        i{@include size(60px,55px); margin:0 auto; display:block; }
    }


    .mCS-dark.mCSB_scrollTools {
        .mCSB_dragger .mCSB_dragger_bar { background-color: $color-orange; }
        .mCSB_draggerRail { width: 1px; }
    }

}
.contactus{
     h1 {
        text-align: center;
        color: #de7735;
        font-family: "robotolight";
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    .office_address{
        border-bottom: 1px solid #efefef;
        padding: 30px 0 15px;
    }
    .conaddress {
        display: flex;
        flex-wrap: wrap;
        width: auto !important;
        padding: 20px;
        h5 {
            background: #de7735;
            padding: 6px 0;
            font-size: 14px;
            color: #fff;
            font-weight: 400;
            margin: 0;
            text-align: center;
}
        p{
            font-size: 14px;
            color: #6b6b6b;
            padding: 5px 0 0;
            line-height: 20px;
            text-align: center;
        }
        span{
            font-family: robotoregular;
            color: #000;
            font-weight: 400;
            font-size: 15px;
        }
        address {
            width: 25%;
            padding: 10px;
            font-style: normal;
        }
    }
    .in{
        display: flex;
        justify-content: space-around;
        .box {
            width: 49%;
            text-align: center;
        }
        img {
            padding-bottom: 0px;
            margin: auto;
            height: 55px;
        }
        a {
            font-size: 17px;
            font-family: robotoregular;
            color: #de7735;
            font-weight: 400;
        }
    }
    .fill_form {
        padding: 28px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left,.right{width: 47%;}
        input[type=email], input[type=security], input[type=text], textarea{
            background: #f5f5f5;
            -webkit-box-shadow: 1px 1px rgba(0, 0, 0 , 0.4), inset 1px 1px rgba(0, 0, 0 , 0.4);
            -moz-box-shadow: 1px 1px rgba(0,0,0,0.04),inset 1px 1px rgba(0,0,0,0.04);
            box-shadow: 1px 1px rgba(0, 0, 0 , 0.4), inset 1px 1px rgba(0, 0, 0, 0.4);
            border: none;
            padding: 10px;
            width: 100%;
            margin: 20px 0 0px;
            outline: 0;
            font-size: 13px;
        }
         textarea {
            height: 69px;
        }
        .box-code {
            position: relative;
        }
         #captcha { 
            height: 33px;
            position: absolute;
            right: 40px;
            top: 20px;
        }
         button {
            background: url(../images/contactus/reload.png) no-repeat transparent;
            cursor: pointer;
            height: 40px;
            width: 30px;
            border: 0;
            position: absolute;
            right: 0px;
            top: 20px;
        }
         input[type=button] {
            float: right;
            margin: 20px 21px 0 0;
            cursor: pointer;
            background: #de7735;
            padding: 10px 40px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            font-weight: 400;
            border: 0;
            text-transform: uppercase;
        }
    }
     .information {
        border: 1px solid #f0f0f0;
        margin: 40px 0;
        padding: 0;
    }
    }
 //Home Tablet
@media #{$screen-tablet}{
    .banner-get-touch {
            article { padding: $space10 $space20; }
        }
    .get-in-touch {
         .tab-links { width: 40%;
                      li{
                          span { @include font-size(18px); }
                      }
         }
         .tab-content { width: 58%; }
        .helpe-option {
            a { line-height: 20px; padding: $space10; 
              span { display:block; margin: $space10 $space0 $space5; }
            }
        }
    }

}