// Contact Us
.contact-main{ margin-bottom:$space30+30; color: #363636;
     .breadcrumbs { background: #F5F5F5; margin-top: $space0 !important; }           
    .banner-contact{ background: #F5F5F5; padding: $space25 $space0; text-align: center;
        .title { @include font-size(35px); font-family: $robotobold; 
          span { font-family: $robotolight; font-weight: 300; }
        }
        .small { @include font-size(14px);  }
    }
    
    .search-main { width: 750px; margin: $space30 auto $space15; position: relative; }
    .srch-box{ background: $color-white; @include border-radius(5px); position: relative; display:flex; overflow: hidden; padding-left: $space15;
      .search { @include size(100%); padding: $space15 $space25; @include font-size(16px); font-family: $robotolight; font-weight: 300; background: url(../images/contactus/search.svg) no-repeat left; }
      .btn-search { padding: $space10+2px $space20; display: inline-block; background: $bg-orange; color:$color-white; @include font-size(16px); text-transform: uppercase; font-family: $robotoregular; cursor: pointer; }
    }
    
    
   .helpe-option{ display:flex; justify-content:center; text-align:center; margin:$space30 auto 0; 
        li{ margin: 0 $space20; }
        span{@include font-size(14px); display:block; font-family:$robotoregular; color:$color-black; }
        i{@include size(50px); margin:0 auto $space10; display:flex; align-items: flex-end; justify-content: center;}
       }  
    
    h1, h2, h3, h4, strong { font-weight: normal; }

  .tabs{ display:flex; justify-content:space-between; margin-top:$space30; margin-bottom:$space30;} 
   .left-topics { width:25%; 
    .title { @include font-size(20px); }
   } 
  .tab-links{ margin-top: $space15;
          li{ display:block; margin-bottom:$space15;
            &.active
            { 
                a{color:$color-warning;}
            }
         }
         a{@include font-size(14px); color:$color-black;
          &:hover{ color:$color-warning;}
         }
        
    }
       
    
    .tab-content{ width:72%; border: $common-border; padding: $space30;  
      .title { @include font-size(20px); margin: $space0 $space0 $space15; font-weight: normal; }
      span { font-family: $robotomedium; @include font-size(15px); }
      p { margin-bottom: $space10; }
      ul{ padding-left: $space20; margin-bottom: $space25;
          li { margin-bottom: $space10; position:relative; 
            &:before { content: ""; @include size(7px); background: $bg-orange; position: absolute;  left: -15px; top: 8px; @include border-radius(100%); }
          }
      }
      a { color: $color-orange; }
    }
    table { width: 100%; text-align: left; border-collapse: collapse; margin: $space20 $space0 $space10;
      tr, td, th { border: $common-border; padding: $space5; }
      th { font-weight: normal; font-family: $robotomedium; }
    }
    .accordion_in{  @include border-radius(3px); padding:$space10 - 3px $space0; margin-bottom:$space5; border-bottom: $common-border;
           .acc_head{ position: relative; @include font-size(14px);  color:$color-black; cursor:pointer; display:block; 
             &:before { content: '+'; color: #000; position: absolute; right: 15px; text-align: center;  font-size: 20px;  top: -3px; line-height: 26px; @include font-size(16px); }
           }
           &.acc_active {
                 .acc_head{
                     &:before { content: '-';  @include font-size(30px);}
                 }
             }
           .acc_content{@include font-size(13px); font-family:$robotolight;}
      }
      
      
      .result-question{ text-align:center; padding:$space40 0; @include border-radius(3px); background:#F5F5F5; @include font-size(14px); margin-bottom:$space40+20;
          span { @include font-size(20px); display: block; }  
          p { margin: $space5 0 $space10; }
          a{ background:$bg-orange; @include font-size(17px); font-family:$robotolight; font-weight: 300; color:$color-white;  @include border-radius(3px); display:inline-block; padding:$space10 $space40+20px; }
          i{ @include size(30px); border:1px solid $color-orange; color: $color-orange; font-style: inherit; @include border-radius(100%); @include font-size(20px); margin:0 auto $space10;  display:block; font-family:$robotoregular;}
      }
      

           .social-link{ display:block; text-align:center;
                li{margin:$space0 $space5 - 3 $space0; display:inline-block; vertical-align:top;
                   a{@include size(33px); display: block; line-height:$space20+4; margin-bottom:$space0 !important; border:2px solid $color-black; @include border-radius(50%);@include font-size(18px); padding-top:$space5 - 3; text-align: center;
                      &.facebook{ border-color: $color-blue-dark; color:$color-blue-dark;}
                      &.google-plus{ border-color:$color-red; color:$color-red;}
                      &.pinterest{ border-color:$color-red-dark; color:$color-red-dark;}
                      &.youtube-link{ border-color:$color-dark-medium; color:$color-dark-medium;}
                      &.instagram{color:$color-black;}
                      &.twitter{ color:#1da1f2; border-color:#1da1f2;}
                   }
                }
       
        }
  .TopSearchesBoxss{  width: 648px; background: #fff; position: absolute; left: 0; right: 0; z-index: 9; @include box-shadow(0 6px 5.28px 2px rgba(0,0,0,0.1)); 
     .mostSearches {
        a {
            &:hover { background: #f9f9f9; } 
            &:before { top: 15px; }
         }
       }
  }

}

  .loader { left: 0; right:0; bottom:0; top:0;margin:auto; display:block; position: fixed; z-index: 9;border: 5px solid #c7c5c5;border-radius: 50%;border-top: 5px solid #262626;width: 50px;height: 50px;-webkit-animation: spin 0.5s linear infinite; /* Safari */animation: spin 0.5s linear infinite;}
  /* Safari */@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }} 


@media #{$screen-tablet}{
    .contact-main {
        .banner-contact{ 
           .title{@include font-size(30px);}
           p{@include font-size(14px);} 
           .btn{ padding:$space5+3 $space25;}
        }
        .helpe-option{ width: auto; }
       .search-main { width: 80%} 
        .tab-content { padding: $space15; }
       .TopSearchesBoxss { width:482px; }
    }
    
    
}


  

 