.CustmQustions { max-width:600px; padding-bottom: 30px;
  .QTitle { font-size: 22px; margin-bottom: 30px;
    &:after { width:110px; height:2px; content: ''; display: block; margin-top: 10px; background: #E8E8E8; }
  }
  .searchQustions { position:relative; box-shadow: 0 0px 8px 2px rgba(0,0,0,0.1); }
  .srhbx { width: 100%; height: 50px; border: 1px solid #D9D9D9; line-height: 50px; padding: 0 45px 0 15px; font-family: $robotoregular;  }
  .btnSearch { position: absolute; right: 18px; top: 15px; cursor: pointer; }
  .moreQustions { text-transform: uppercase; font-family: $robotomedium; cursor: pointer; }

} 
.QustionBox { margin:30px 0 0;
    .qust { display: block; font-size: 15px; }
    .ans { font-size: 14px; margin: 5px 0 15px; }
    .flexb { display:flex; justify-content: space-between; align-items: center; 
      label { font-size: 12px;  color: #707070; margin: 0 10px; }
          .checkmark {  position: relative; display: inline-block;  width:20px;   height:20px;  background-color: #DFDFDF;  border-radius:11px; vertical-align: middle; margin-right: 5px;
            &:after{  content: ''; display: block; width: 3px; height: 6px; border: solid #707070; border-width: 0 2px 2px 0; transform: rotate(45deg);position: absolute;  left: 7px; top: 5px;}
          }
          small { font-size: 13px; font-family: $robotolight; }
    }
    .rightThumb {
        .like { display: inline-block; cursor: pointer; 
          &.active {
            .fa { 
                &:before{  color: #E57200; }
           }
          }
        }
        .up { margin-right: 10px; }
        .fa { display: inline-block; margin-right: 4px;
            &:before{ content: '\f164'; display: inline-block; color: #D1D1D1; font-size: 20px; }
        }
        .down {
           .fa { 
                &:before{ content: '\f165';vertical-align: middle; }  
           } 
        }
    }
    li { border-bottom: 1px solid #D9D9D9; padding-bottom: 20px; margin-bottom: 20px; 
      &:last-child { margin-bottom: 10px; }
    }
    
}
.border {  margin: 0 0 40px;border: none;  border-bottom: 1px solid #d9d9d9; }
.NoAnswer {
    .red { color:red; display: block; margin: 15px 15px 5px; }
      .postBtn { text-transform: uppercase; font-family: $robotoregular; }
  .postBox { background:#F5F5F5; padding: 15px; display: flex; justify-content: space-between; align-items: center; @include border-radius(3px); color:#707070; }
}

.postpopup { width: 540px; margin: auto; background: #fff; @include border-radius(5px); padding: 20px;position: relative; display: none;
   .title { font-size: 20px; font-family: $robotomedium; margin-bottom: 6px;}            
   textarea { width: 100%; border: 1px solid #D9D9D9; height: 130px; padding: 15px; margin: 5px 0;  }
   .label { display: block; font-size: 15px; margin: 20px 0 0px; }
   ul{
       li{ position: relative; padding-left: 12px; 
         &:before { content: ''; display: inline-block; width: 6px; height: 6px; background: #8B8B8B; left: 0px; position: absolute; top:9px; }
       }
   }
        .closepopup { position: absolute; right: -10px; top: -10px; text-align:center; color: #000; font-size: 16px; border: 1px solid #f2f2f2;border-radius: 100%; width: 30px; height: 30px;line-height: 30px; cursor: pointer;
    z-index: 1;background: rgba(255, 255, 255, 0.86); font-family: 'robotomedium'; }
} 
.swpmodal-container {
   .postpopup { display: block; } 
}