 
.container-for-filter {
    margin-bottom: 6px;
}
.filter-result li:not(:last-of-type) {
    background: #fff;
    padding: 3px 10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    margin: 3px 5px 3px 0;
    border: 1px solid #e5e5e5;
    font-size: .6875rem;
    font-family: $pangramregular; 
}
.filter-result {
    li {display: inline-block;} 
    a {color: #e57200;}
} 
.filter-result li:not(:last-of-type) a {  
    color: #000;
    margin-left: 5px;
} 
                .category-more-toogle{position: relative;height:58px;max-width: 740px;margin:24px auto 20px;text-align: center;overflow: hidden;
                &.active{
                    height: auto;
                    .see-more{
                        position:inherit;
                        &:before{content: '-';@include font-size(32px);line-height: 20px;}
                    }
                    }
                .m-toggle-heading{ 
                    @include font-size(26px);
                    font-family:  $pangramregular;  
                    line-height: 30px;
                    color: #333; 
                    font-weight:normal;  
                    display:inline-block;
                   margin:0px 0 5px 0;   
                }
                p{
                    color: #707070;
                    @include font-size(13px);
                    font-family: $pangramregular; 
                    line-height: 20px;
                    height:inherit;
                    b,strong{font-weight: normal;font-family: $pangrammedium;color:#444;} 
                }
                .see-more{
                    position:absolute;
                    bottom:0px;
                    right:0px;
                    cursor:pointer;
                    color: #E57200;
                    padding-left: $space10;
                    @include font-size(20px);
                    line-height: 28px; 
                    background: #fff;
                    display: inline-block;
                    &:before{
                        content:'+';
                    }
                } 
                }
         .filter-fix.container-for-filter, .sticky{position: fixed; top: 54px; left:0; right:0; width: 100%; margin:0 auto; z-index: 9; background:$bg-white; transition:.2s ease-in;
                                          .filter-box{padding:0 8px;}         
         }  
         
          .sticky + .common-filter-result + .product-list-for-filter{ padding-top:160px;}
          .sticky + .common-filter-result + .container + .product-list-for-filter{ padding-top:160px;}
          
        //.filter-fix.filter-box{position:fixed; top:47px; left:0; right:0; width: 100%; margin:0 auto; z-index:999; background:$bg-white; padding-top:$space10; &.spacing{ top:0;}}
    
   .filter-box{ display:none; 
                border-bottom: 1px solid #d6d5cf; 
                padding:$space5+3 $space5+3 $space0; 
                background: #FFF;
                margin-top:9px;   
        .title{ line-height:$space20; padding-right:$space5+3;  @include font-size(14px); color:#242424;; display:inline-block;
              i{ display:none;}
             }      
        }
        .filter-by{float:$left; padding-left: $space5+2; margin-top: 2px;}
        .short-by{float:$right; position: relative; padding-bottom: $space10;.filter-dropdown{left:15px;}}        
         .filter-menu{ display:inline-block;
           li{display: inline-block; line-height:normal;  position: relative; padding-bottom:$space10+7;
              &:hover{ 
                    .filter-name{color:#444;background:#f5f5f5; 
                       &:after{transform: rotate(-180deg); vertical-align:middle;}
                    }
              }
           }    
    .filter-name{cursor:pointer; @include font-size(13px);line-height:15px; margin-right:$space10; color:#707070; display:block; padding:$space5+1 $space10+3;  border:1px solid #adadad; border-radius:20px ; 
         &:after{transition: all 0.5s ease; content: '\f107';  font-family:$fontawesome; @include font-size(15px); display:inline-block; vertical-align:middle;margin-bottom: 2px; margin-left:$space10;}   
        }
    }   
         .filter-dropdown{z-index:1; background:$color-white; border: 1px solid #ccc; position:absolute; top:48px; left:$space0; display:none; width:210px; padding:$space5 $space10; 
        label{ cursor:pointer; display:inline-block;vertical-align: middle;
               input#none {margin: 0 0 0 -4px;}
               input{opacity:0;cursor: pointer;vertical-align: middle;position: absolute;
                     &:checked ~ small{
                         &:after{display:block;}
                         &:before{
                             background-color: #fff;
                            border: 1px solid #E57200;
                         }
                     }
               }
               small{@include font-size(12px);position:relative;padding:0 0px 0 20px;
                     &:before{ 
                        content:'';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        height: 10px;
                        width: 10px;
                        background-color: #fff;
                        border: 1px solid #8b8b8b;
                        border-radius: 50%;  
                     }
                     &:after{
                         content: "";
                        position: absolute;
                        display: none;
                        top: 5px;
                        left: 5px;
                        width:8px;
                        height: 8px;
                        border-radius: 50%;
                        background: #E57200;}
               }
            }
              li{ display:block!important; line-height:26px; width:100%; border:none; padding:0!important; margin:$space5+1 0;
          [type="checkbox"]{ vertical-align:middle; cursor:pointer; display:none;
             &:checked{+ span{ background:url("#{$images-path}/category/check-list.png") no-repeat left -16px;}} 
          }
          span{@include font-size(12px); padding-left: $space20+4; padding-top:1px; line-height: normal; color:$color-black; display:inline-block;  vertical-align:middle;
             width:auto; height:19px; background:url("#{$images-path}/category/check-list.png") no-repeat left 2px;
             
               &:hover {color:#e57200;} 
            }
            a{@include font-size(12px); color:$color-black;}
        }   
    }  
    .filter-colfin{
     i{@include size(26px,20px); display: inline-block; margin-right:$space5; outline: 1px solid #cbcbcb; outline-offset: 2px; margin-bottom: 3px; vertical-align: middle;}  
                     li{  
                         line-height: 26px; margin:$space10 0 0; padding:0px 5px 6px; cursor: pointer;
                      input[type="checkbox"]{opacity: 0; position: $postion-absolute; @include size(100%); top: $zero; left: 0;} 
                   img{@include size(35px,20px); margin-right: $space5+1; @include border-radius(0); outline-width: 1px; outline-style: solid; outline-offset: 2px; outline-color: darken($bg-light,15%); vertical-align: middle; margin: auto;}
                   &.active{
                       img{outline-color: $color-warning;}
                       }
                       span{ background:none!important; padding-left:$space5; padding-top:0;}
                        label{ 
                              &.active{ 
                                  i { position:relative;
                                     &:before{font-family:$fontawesome; content:'\f00c'; position:$postion-absolute; left:5px; font-size: $font-size-15; top:-2px; color: $color-black; text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0   #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}    
                                  }
                              } 
                        } 
                } 
/*     .product-honey_finish{  @include finish-icons-sprite(product-honey_finish); }
    .product-teak_finish{  @include finish-icons-sprite(product-teak_finish); }
    .product-walnut_finish{  @include finish-icons-sprite(product-walnut_finish); }
    .product-mahogany_finish{  @include finish-icons-sprite(product-mahogany_finish); }
    .product-natural_finish{  @include finish-icons-sprite(product-natural_finish); }
    .product-black_finish{  @include finish-icons-sprite(product-black_finish);}
    .product-exotic_teak{  @include finish-icons-sprite(product-exotic_teak);}
    .product-flowery_wenge{  @include finish-icons-sprite(product-flowery_wenge);}*/
    }
    
    
     .common-filter-result{display:block; margin-top: $space10; text-align:center;
li{@include border-radius(15px); display: inline-block; font-size: 13px; line-height: normal; padding: 5px 15px; background: #f4f4f4; margin:0 2px $space5;
img{ cursor: pointer; float: right; margin: 5px 0 0 5px; position: relative; top: 0;}
}
}
    
    .low-to-high{ 
        width:138px; display:inline-block; cursor:pointer; border-radius:20px;  
        color:#707070; border: 1px solid #adadad;  @include font-size(13px);line-height:20px; padding:$space5+1 $space10+2; position:relative; 
        &:after {position:absolute; top:$space5+1; right:$space10; content:"\f0d7"; font-family:$fontawesome; color:$color-dark-light; @include font-size(18px);line-height:20px;}
          
    }
   .cleap{ display:none;}
      
   .low-to-high + .filter-dropdown{
       li{ margin:0;
           &:hover{ background:#f1f1f1;}
           a{ padding:$space5; display:block;}
       }
   
       
   }
   .m-filtertext{display:none;}
   .blank{ position: absolute;top: 0; bottom: 0; left: 0; right: 0;}
   
   
   //fastshpping page
   
   .fast-shipping{
     .fastdel-text{ text-align:center; margin-top:$space20; 
              h1{ @include font-size(25px); font-weight:normal;}
          }  
          .w-cart{ margin-top:-35px;}
          .filter-slider{ display:none;}
   }
 

   .viewas {
       display: inline-flex; float: right;
       margin-top: 6px;
    line-height: 16px;
    margin-right: 13px;
       .title {
           margin-top: 3px;
       }
       .filter-menu {
           li {
               padding-bottom: 0px;
           }
       }
   }

   .viewicon {
    min-width: 19px;
    height: 26px;
    display: block;
    border: 1px solid #dcdcdc;
    margin-left: 7px;
    position: relative;
    cursor: pointer;
    
    &.two {
    width: 19px;
    &:before, &:after {
    box-shadow: 7px 0 0 #dcdcdc;
    }
      
    }
     &.three {
    width: 26px;
     &:before, &:after {
    box-shadow: 7px 0 0 #dcdcdc, 14px 0 0 #dcdcdc;
    }
    }
    
     &.four {
    width: 33px;
     &:before, &:after {
    box-shadow: 7px 0 0 #dcdcdc, 14px 0 0 #dcdcdc, 21px 0 0 #dcdcdc;
    }
    }
    &.active {
        &.two {    
    &:before, &:after {
    box-shadow: 7px 0 0 #323232;
    }  
    }
     &.three {    
     &:before, &:after {
    box-shadow: 7px 0 0 #323232, 14px 0 0 #323232;
    }
    }
    &.four {    
     &:before, &:after {
    box-shadow: 7px 0 0 #323232, 14px 0 0 #323232, 21px 0 0 #323232;
    }
    }
    &:before, &:after {
         background: #323232;
    }
    }
    &:before {
    background: #dcdcdc;
    content: "";
    top: 3px;
    position: absolute;
    left: 3px;
    width: 4px;
    height: 18px; 
}
&:after {
    background: #dcdcdc;
/*    content: "";*/
    top: 13px; 
    position: absolute;
    left: 3px;
    width: 4px;
    height: 7px;
}
   }