.product-custom-pop{@include size(960px, 470px); background: $bg-white;  margin: 0 auto;   position:relative; display:flex;   
        .left{width:50%;  padding: $space30 $space40; border-right: $common-border; text-align: center; background:#fafafa;}
        figure{width: 270px; margin: auto;}    
        span{ color: $color-orange; @include font-size(22px); font-family: $robotomedium; display: block; padding: $space20 0 $space10;}
       .call{ border-top: $common-border; margin-top: $space20; padding-top: $space20; @include font-size(17px);}
       
        i{ @include size(46px); display: block; margin: 0 auto $space10+2; background: $bg-orange; @include border-radius(100%);
        &:after{  font-family: $fontawesome; content: '\f095'; display: block; @include font-size(28px); padding-top: 12px; color:$color-white;}  
        }
        i + a{ color: $color-black; }    
       .right{ width:50%; padding:$space30+2 $space40;}
           
             .heading { font-family: $robotomedium; @include font-size(24px); text-align: center; text-transform:capitalize; color:#282828; position: relative; margin-bottom:$space15+3;
               &:after{  @include size(95px,2px);content: ""; background: $bg-orange; margin:$space5+3 auto 0; display:block;} 
            }  
          .thanku-success-msg + .close{ position:absolute; top:0; right:10px; z-index:1; @include font-size(14px); color:$color-grey;}   
          &.thMsg .thanku-success-msg + .close{ display:none;}  
              
          .field{ margin-bottom:$space10;}
          .one-half{ display:flex; justify-content:space-between; position:relative;
            .field{ width:49%;}
          } 
           textarea{height:90px; resize:vertical; padding-top:$space10;}
          .field__input.field{ margin-bottom:0; padding:0;
           .error-block{ padding-top:$space10;}
          }
          input[type=file] { cursor: pointer; width: 100%; position:absolute; left:0; top: 0; opacity:0;  z-index: 1; height:100%; }
          .attachment-image{  vertical-align: middle; margin-right:$space5; margin-left:$space5; margin-top:$space5+3; display:inline-block; width:19px;}
         .file-return{ color: #969696; padding:0; display:inline-block; margin-top:$space5+3; font-size:12px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:110px; vertical-align:middle;}       
         .submit-btn{ width:50%; cursor:pointer;  text-align: center; background: $color-orange; color: $color-white; @include font-size(16px);  @include border-radius(3px); padding:$space10 0 $space10 $space20; border:none;}
          &.thMsg{ background:none; width:auto; height:auto;
             .left{ display:none;}
             .right{ width:auto; padding:0;}
            .heading{ display:none;} 
         }     
} 
  
     
    
  

 
 


@media #{$screen-tablet}{
    .product-custom-pop { width: 750px; background-size: 50% 100%;
         .heading{@include font-size(22px);}
         .right{ padding:$space25  $space20;}
        .submit-btn{@include font-size(13px);}
    }
}
